@model IEnumerable<QLTL_V2.Models.Customer>

<h2>Khách Hàng</h2>


<table cellpadding="0" cellspacing="0" border="0">

<tr>
<td align="center">
<a href="@Url.Action("Create", "Customer")">
	<img src="../../Content/Images/NewIcon.gif"/></a> 

    <br />  <bold>Tạo Mới</bold>
</td>

</tr>
</table>




@using (Ajax.BeginForm("Search", new AjaxOptions { UpdateTargetId = "ListCus", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }))
{
        @Html.Label("Tìm Theo Tên")
        @Html.TextBox("SearchString") 
        <input type="submit" value="Tìm" />
}
<div id="ListCus">
@{
    var test = Model.ToList();
    Html.RenderPartial("_CustomerPartial", test.ToList());
}
</div>