@model IEnumerable<QLTL_V2.Models.Order>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>

@using (Ajax.BeginForm("Search", new AjaxOptions { UpdateTargetId = "ListOrder", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }))
{
    <table cellpadding="3px" cellspacing="10px" border="0">
        <tr>
            <td>
                @Html.Label("Tên")
                @Html.TextBox("CusName")
            </td>
            <td>
                
                Ngày: <input type="text" id="datepicker" name="OrderDate" />
            </td>
            <td>
                <input type="submit" value="Tìm" class="searchbutton"/>
            </td>
        </tr>
    </table>  

}
<div id="ListOrder">
  @{
      var test = Model.ToList();
        
      Html.RenderPartial("_OrderPartial", test);
   }
</div>
